YavinWindowsClient/Service References/YavinServiceReference/TransactionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50211/TransactionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50211/TransactionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50211/TransactionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YavinService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionById" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_CreateTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_CreateTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_DeleteTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_DeleteTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_EditTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_EditTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionService">
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/GetTransactions" message="tns:ITransactionService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionsResponse" message="tns:ITransactionService_GetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionById" message="tns:ITransactionService_GetTransactionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionByIdResponse" message="tns:ITransactionService_GetTransactionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/CreateTransaction" message="tns:ITransactionService_CreateTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/CreateTransactionResponse" message="tns:ITransactionService_CreateTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/DeleteTransaction" message="tns:ITransactionService_DeleteTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/DeleteTransactionResponse" message="tns:ITransactionService_DeleteTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/EditTransaction" message="tns:ITransactionService_EditTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/EditTransactionResponse" message="tns:ITransactionService_EditTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionService" type="tns:ITransactionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetTransactionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/CreateTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/DeleteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/EditTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionService">
    <wsdl:port name="BasicHttpBinding_ITransactionService" binding="tns:BasicHttpBinding_ITransactionService">
      <soap:address location="http://localhost:50211/TransactionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>