YavinWindowsClient/Service References/YavinServiceReference/TransactionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50211/TransactionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YavinService" />
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YavinService" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q1:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YavinService" minOccurs="0" name="GetTransactionByIdResult" nillable="true" type="q2:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/YavinService" minOccurs="0" name="transaction" nillable="true" type="q3:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/YavinService" minOccurs="0" name="CreateTransactionResult" nillable="true" type="q4:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/YavinService" minOccurs="0" name="transcation" nillable="true" type="q5:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/YavinService" minOccurs="0" name="EditTransactionResult" nillable="true" type="q6:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>